<% provide(:title, "Help") %>
<div class="jumbotron text-center">
	<h2>You can ask me on
	<br/>
	| 
	<a href="mailto:karan.valecha92@gmail.com"><i class="fa fa-envelope-o text-danger"></i></a> |
	<a href="https://github.com/karan619"><i class="fa fa-github-square"></i></a> |
	<a href="https://facebook.com/karanvalecha619"><i class="fa fa-facebook-official"></i></a> |
	<a href="https://twitter.com/valechakaran619"><i class="fa fa-twitter-square text-primary"></i></a> |
	<a href="https://google.com/+karanvalecha619"><i class="fa fa-google-plus-square text-danger"></i></a> |
	<a href="https://in.linkedin.com/in/karanvalecha"><i class="fa fa-linkedin-square text-info"></i></a> |
	</h2>
</div>
