<% if object.errors.any? %>
	<div class="alert alert-danger jumbotron">
		<h3><%= pluralize(object.errors.count, "error") %> while submiting the form </h3>
		<ul>
			<% object.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>
	</div>
<% end %>