<div class="text-center">
<%= link_to pluralize(@user.passive_relationships.count, 'Follower'), followers_user_path(@user), id: 'followers' %> | <%= link_to pluralize(@user.active_relationships.count, 'Following'), following_user_path(@user)%>
</div>